.game {
  width: 80%;
  margin: 60px auto 20px auto;
}

.game-started {
  width: 60%;
  margin: 42px auto 20px auto;
}

.game div {
  width: 100%;
}

.game-header {
  margin-top: 100px;
  text-align: center;
}

.game-started-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
}

.game-header h2, .game-started-header h2 {
  font-size: 1.2rem;
}

.game-body {
  margin-top: 35px;
  object-fit: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.game-body img {
  width: 300px;
  height: 250px;
  border-radius: 5px;
}

.game-footer {
  margin-top: 42px;
}

.game-footer form input {
  width: 100%;
  height: 25px;
  border-radius: 5px;
}

button {
  width: 30%;
  height: 40px;
  margin: 15px auto;
  justify-content: center;
  display: block;
  color: #fff;
  background: #1E4758;
  font-size: 1em;
  font-weight: bold;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: .2s ease-in;
  cursor: pointer;
}

button:hover {
  background: #214D5F;
}

.stats {
  margin-top: 60px;
  width: 100%;
}

.stats, th, td {
  border: 1px solid #1E4758;
  text-align: center;
}

.stats thead {
  text-align: left;
}
