<div [class]="{'game': !gameStarted, 'game-started': gameStarted}">
  <div [class]="{'game-header': !gameStarted, 'game-started-header': gameStarted}">
    <h2>{{ game.category }}</h2>
    <p class="cursor-pointer" title="Next" *ngIf="gameStarted && authPlayer.role == 'CREATOR' && !currentGameSession.gameIsFinish" (click)="nextImage()"><i class="far fa-arrow-alt-circle-right"></i></p>
  </div>

  <div class="game-body" *ngIf="gameStarted && !currentGameSession.gameIsFinish">
    <div style="text-align: center">
      <p><img src="./assets/ajax-loader.gif" *ngIf="!fileURLStatus"></p>
      <p><img [src]="fileURL" *ngIf="fileType == 'image' && fileURLStatus"></p>
      <figure *ngIf="fileType == 'audio' && fileURLStatus">
        <audio controls autoplay [src]="fileURL">
          Your browser does not support the
          <code>audio</code> element.
        </audio>
      </figure>
    </div>
  </div>

  <div *ngIf="currentGameSession?.question && !currentGameSession.gameIsFinish " style="text-align: center">
    <h3>Question : {{ currentGameSession?.question }}</h3>
  </div>

  <div *ngIf="currentGameSession?.playerAnswer && !currentGameSession.gameIsFinish" style="text-align: center">
    <h3>Good answer : {{ currentGameSession?.playerAnswer }}</h3>
  </div>

  <div class="game-footer" *ngIf="!gameStarted && authPlayer.role == 'CREATOR'">
    <button class="start-button" (click)="startGame()">
      <span *ngIf="currentGameSession?.gameIsFinish">Restart</span>
      <span *ngIf="!currentGameSession?.gameIsFinish">Start</span>
      game
    </button>
  </div>

  <div class="game-footer" *ngIf="!gameStarted && authPlayer.role != 'CREATOR' && !playerAlreadyJoinGame()">
      <button class="start-button" (click)="joinGame(game)">Join party</button>
  </div>

  <div class="game-footer" *ngIf="gameStarted && !currentGameSession?.answerHasBeenFound && playerAlreadyJoinGame() && !currentGameSession.gameIsFinish">
    <form [formGroup]="answerForm" (ngSubmit)="sendAnswer()">
      <input formControlName="answer" type="text" placeholder="Response" required>
      <p style="margin-top: 25px;"></p>
      <button type="submit" class="send-button">Send</button>
    </form>
  </div>

  <div *ngIf="currentGameSession">
    <table class="stats">
      <thead>
        <th>Player</th>
        <th>Score</th>
        <th>Rank</th>
      </thead>

      <tbody>
        <tr *ngFor="let stat of sort(currentGameSession.currentGameSessionStats); let i = index;">
          <td>{{ stat.player?.username }}</td>
          <td>{{ stat.playerScore }}</td>
          <td>{{ i+1 }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
