<section>
  <div class="invite-player-section">
    <form [formGroup]="updateSectionForm" (ngSubmit)="onSubmitUpdateSectionForm()">
      <label for="name">Name
        <input type="text" formControlName="name" id="name" placeholder="Name">
      </label>
      <button type="submit">Change name</button>
    </form>
  </div>
</section>
