<section>
  <div class="auth-header">
    <img class="auth-portal-logo" src="assets/logo_white.png" alt="Blind test logo">

    <div>
      <label class="dropdown">
        <div class="dropdown-button">
          <i class="far fa-user-circle"></i>&nbsp;
          <span>{{ authPlayer?.username }}</span>&nbsp;
          <i class="fas fa-caret-down"></i>
        </div>
        <input type="checkbox" class="dropdown-input" id="test">
        <ul class="dropdown-menu dropdown-profile-menu">
          <li class="divider"></li>
          <li (click)="leaveSection()"><i class="fas fa-sign-out-alt"></i>&nbsp;Leave</li>
        </ul>
      </label>
    </div>
  </div>

  <section class="game-section">
    <div class="content">
      <div class="content-header">
        <h1 style="font-size: 1.2rem"><i (click)="openModal('show-secret-code')" class="fas fa-eye cursor-pointer"></i>&nbsp;{{ gameSection?.name }}</h1>
        <button *ngIf= "authPlayer?.role == 'CREATOR'" class="cursor-pointer" title="Session settings" (click)="openModal('section-settings')"><i class="fas fa-cog"></i></button>
      </div>

      <div class="content-body" *ngIf="!gameStarted">
        <button (click)="openModal('choose-game')"><i class="fas fa-gamepad"></i>&nbsp;{{ authPlayer?.role == 'CREATOR' ? 'Choose game' : 'Show games' }}</button>
      </div>

      <app-game [authPlayer]="authPlayer" [currentGameSession]="currentGameSession" *ngIf="gameChosen" [game]="gameChosen" [gameStarted]="gameStarted" [fileURL]="fileURL"  [fileType]="fileType" [fileURLStatus]="fileURLStatus"></app-game>
    </div>

    <div class="chat-container">
      <div class="chat-header">
        <p>Players ({{ gameSection?.players?.length || 0 }})</p>
        <button class="cursor-pointer" (click)="openModal('players')"><i class="fas fa-users"></i></button>
      </div>
      <app-chat [gameSection]="gameSection" [authPlayer]="authPlayer"></app-chat>
    </div>
  </section>

  <div class="modal-background overflow-auto" *ngIf="modalIsOpen">
    <div class="modal-wrapper">
      <div class="modal-header">
        <div class="modal-title">
          <!-- Settings -->
          <p *ngIf="modalContent == 'section-settings' || modalContent == 'update-section' || modalContent == 'invite-player' || modalContent == 'manage-players'">Section settings :
            <span *ngIf="modalContent == 'section-settings' || modalContent == 'update-section'">Update section</span>
            <span *ngIf="modalContent == 'invite-player'">Invite player</span>
            <span *ngIf="modalContent == 'manage-players'">Manage players</span>
          </p>
          <!------->
          <p *ngIf="modalContent == 'players'">All players</p>

          <p *ngIf="modalContent == 'choose-game'">{{ authPlayer?.role == 'CREATOR' ? 'Choose game' : 'Show games' }}</p>
        </div>
        <a style="vertical-align: center; cursor: pointer"><i class="modal-close-button far fa-times-circle" (click)="closeModal()"></i></a>
      </div>
      <div class="modal-body">
        <div *ngIf="modalContent == 'show-secret-code'">
          <h2>Secret Code</h2>
          <p>{{ secretCode }}</p>
        </div>
        <!-- Settings -->
        <div class="section-settings-header" *ngIf="modalContent == 'section-settings' || modalContent == 'update-section' || modalContent == 'invite-player' || modalContent == 'manage-players'">
          <button [class]="{'section-settings-header-button-action': modalContent == 'section-settings' || modalContent == 'update-section'}" title="Update section" (click)="modalContent = 'update-section'"><i class="fas fa-puzzle-piece"></i></button>
          <button [class]="{'section-settings-header-button-action': modalContent == 'invite-player'}" title="Invite player" (click)="modalContent = 'invite-player'"><i class="far fa-envelope-open"></i></button>
          <button [class]="{'section-settings-header-button-action': modalContent == 'manage-players'}" title="Manage players" (click)="modalContent = 'manage-players'"><i class="fas fa-users-cog"></i></button>
        </div>
        <app-update-section *ngIf="modalContent == 'section-settings' || modalContent == 'update-section'" [gameSection]="gameSection"></app-update-section>
        <app-invite-player [gameSection]="gameSection" *ngIf="modalContent == 'invite-player'"></app-invite-player>
        <app-players *ngIf="modalContent == 'players' || modalContent == 'manage-players'" [isConfig]="modalContent == 'manage-players'" [players]="gameSection.players" [authPlayer]="authPlayer"></app-players>
        <!------->

        <app-choose-game [games]="gameSection?.games" [authPlayer]="authPlayer" *ngIf="modalContent == 'choose-game'" (gameChosen)="setChosenGame($event)"></app-choose-game>
      </div>
    </div>
  </div>

  <div *ngIf="showAlert">
    <div *ngIf="alert.type=='SUCCESS'" class="alert success-msg">
      <span><i class="fas fa-check-circle"></i>&nbsp;&nbsp;{{ alert.message }}</span>
      <i class="alert-close-button far fa-times-circle" (click)="showAlert = false"></i>
    </div>
    <div *ngIf="alert && alert.type=='ERROR'" class="alert error-msg">
      <span><i class="fas fa-exclamation-triangle"></i>&nbsp;&nbsp;{{ errorMessage }}</span>
      <i class="alert-close-button far fa-times-circle" (click)="showAlert = false"></i>
    </div>
  </div>
</section>
