<section>
  <div class="invite-player-section">
    <form [formGroup]="invitePlayerSectionForm" (ngSubmit)="onSubmitInvitePlayerSectionForm()">
      <label for="email">Email
        <input type="text" formControlName="email" id="email" placeholder="Email">
      </label>
      <button type="submit">Invite</button>
    </form>
  </div>
</section>

