<div class="chat-body">
  <div class="chat-message">
    <div *ngFor="let message of gameSection?.messages?.reverse()">
      <div class="chat-message-user">
        <i class="fas fa-user-circle" [class]="{'other-member': message?.player?.id != authPlayer.id}"></i>
        <p><strong>{{ message?.player?.username }}</strong>&nbsp;&nbsp;<i>{{ message.addedAt }}</i></p>
      </div>
      <div class="chat-message-content">
        <p>{{ message.content }}</p>
      </div>
    </div>
  </div>

  <div class="chat-footer">
    <form [formGroup]="messageForm" (ngSubmit)="onSubmitMessageForm()">
      <textarea placeholder="Write a message..." formControlName="content" required></textarea>
      <button type="submit"><i class="fas fa-paper-plane"></i></button>
    </form>
  </div>
</div>


