.chat-body {
  height: 100%;
}

.chat-message {
  height: 72%;
  border-bottom: 1px solid #1E4758;
  border-radius: 8px;
  padding: 25px;
  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse;
}

.chat-message .fas {
  font-size: 1.6rem;
  padding-right: 5px;
  color: #1E4758;
}

.other-member {
  color: #E14D2D !important;
}

.chat-message p {
  font-size: 13px;
}

.chat-message-user {
  display: flex;
  align-items: center;
}

.chat-message-content {
  margin-top: -15px;
  padding-left: 30px;
}

.chat-footer {
  width: 95%;
  margin: 15px auto;
}

.chat-footer form {
  display: flex;
  justify-content: space-evenly;
}

.chat-footer textarea {
  padding: 8px;
  resize: none;
  border: 1px solid grey;
  border-right: none;
  border-radius: 5px 0 0 5px;
  width: 97.5%;
  height: 100%;
}

.chat-footer textarea:focus {
  outline: none;
}

.chat-footer button {
  background: #1E4758;
  border: 1px solid grey;
  border-left: none;
  border-radius: 0 5px 5px 0;
  padding: 5px 15px;
  color: #1E4758;
  cursor: pointer;
}

.chat-footer button i {
  color: white;
}
