.not-auth-header {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
}

.not-auth-portal-logo {
  width: 10rem;
  height: 3rem;
  margin-bottom: 30px;
}

.main {
  background: transparent;
  margin: 0 auto;
}

.footer p {
  font-size: .9rem;
  margin-top: 32px;
  text-align: center;
  color: darkgray;
}


