<section>
  <table class="table-members">
    <thead>
    <th></th>
    <th>Username</th>
    <th>Role</th>
    </thead>

    <tbody>
    <tr></tr>
    <tr *ngFor="let player of players">
      <td align="center"><i class="fas fa-user-circle"></i></td>
      <td>&nbsp;{{ player.username }}</td>
      <td>&nbsp;{{ player.role }}</td>
      <td align="center" *ngIf="player.role != 'CREATOR' && authPlayer?.role == 'CREATOR'" (click)="excludePlayer(player)"><i style="color: red; align-items: center; cursor: pointer" class="fas fa-times"></i></td>
    </tr>
    </tbody>
  </table>
</section>

