.portal {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: transparent;
  letter-spacing: 0.15em;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 5px 20px 50px #1E4758;
  padding: 50px 42px 90px 42px;
}

#chk {
  display: none;
}

.create-game-section {
  position: relative;
  width: 100%;
}

label {
  color: #1E4758;
  font-size: 2em;
  justify-content: center;
  display: flex;
  margin: 60px;
  font-weight: bold;
  cursor: pointer;
  transition: .5s ease-in-out;
}

input {
  width: 60%;
  height: 16px;
  background: #e0dede;
  justify-content: center;
  display: flex;
  margin: 20px auto;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
}

button {
  width: 30%;
  height: 40px;
  margin: 15px auto;
  justify-content: center;
  display: block;
  color: #fff;
  background: #1E4758;
  font-size: 1em;
  font-weight: bold;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: .2s ease-in;
  cursor: pointer;
}

.send-button:hover {
  background: #214D5F;
}

.create-game-section {
  width: 70%;
  border-right: 3px dotted #1E4758;
}

.create-game-section form {
  margin-top: -35px;
}

.create-game-section form div {
  margin-top: -25px;
}

.join-game-section form div {
  margin-top: -30px;
}

.join-game-section label {
  color: #1E4758;
}
