.games {
  display: flex;
}

.creator-button {
  cursor: pointer;
  border: 2px solid #1E4758;
  font-size: 1rem;
  background: #1E4758;
  color: #fff;
  padding: 15px;
  border-radius: 5px;
  margin: 21px;
}

.creator-button:hover {
  background: #fff;
  color: #000;
}

.guest-button {
  font-size: 1rem;
  background: #1E4758;
  color: #fff;
  padding: 15px;
  border-radius: 5px;
}
